$background-color: #0E1625;
$primary-color: rgb(255, 174, 87);

$tech-stack: (react, express, node, typescript, postgresql, mysql, mongodb, sass, bootstrap, github, git, postman, figma, vscode);
$primary-font: 'Tilt Warp', cursive;
$secondary-font: 'Ubuntu', sans-serif;

$mobile-view: 767px;
$tablet-view: 1023px;